body {
    color: #000;
    background-image: url(/static/img/background.svg);
}

h2 {
    font-family: sans-serif;
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
    color: #e7e5e5;
    margin: 0;
    padding: 60px;
    text-shadow: 1px 7px 7px #333333;
    
}

h2.header-task-list {
    font-size: 1.8rem;
}

hr {
    border: 3px solid #006eff;
    border-radius: 5px;
    max-width: 1000px;
}

hr.task-line {
    height: 10px;
    border: 1px;
	border-color: #aba8a8;
    border-radius: 3px;
	box-shadow: 0px 5px 10px -10px #8c8b8b inset;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button-new-task {
    background-color: rgb(255,255,255);
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease 0s;
    border: 0;
}

.button-new-task:hover {
    background-color: rgb(0,255,0);
    color: #121212;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

.update-status-button {
    align-items: center;
    background-color: white;
    border-radius: 12px;
    border: 0;
    box-shadow: transparent 0 0 0 5px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #ffbe00;
    cursor: pointer;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.update-status-button:hover {
    background-color: #ffbe00;
    color: #121212;
    box-shadow: 0px 8px 15px #ffdb71;
    transform: translateY(-7px);
  }

.delete-task-button {
    align-items: center;
    background-color: white;
    border-radius: 12px;
    border: 0;
    box-shadow: transparent 0 0 0 5px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #ff0000;
    cursor: pointer;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.delete-task-button:hover {
    background-color: #ff0000;
    color: #ffffff;
    box-shadow: 0px 8px 15px #ff7171;
    transform: translateY(-7px);
  }

span {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    border-radius: 12px;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

span.status-not-complete {
    background-color: #b30606;
}

span.status-complete {
    background-color: #0eae08;
}

.task-segment {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    width: 100%;
    margin: 0 auto 10px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 10px 10px 10px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-height: 200px;
    max-width: 1000px;
    transition: 0.15s;
    padding: 1rem 2rem;
    transition: all 0.3s ease 0s;
}

.task-segment:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.task-header {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.task-description {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #000000;
    margin-top: 18px;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0.5px rgba(65, 65, 65, 0.225);
}

.task-priority, .task-date, .task-date-red, .task-date-notification {
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 0.5rem 1rem;
    font-weight: 700;
    width: fit-content;
}

.task-priority {
    font-size: 1rem;
    color: #000000;
    box-shadow: 1px 1px 10px 1px rgba(255, 0, 0, 0.225);
    border-radius: 12px;
}

.task-date {
    font-size: 1rem;
    color: #000000;
    margin-left: 10px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 1px rgba(4, 125, 26, 0.225);
}

.task-date-red {
    font-size: 1rem;
    color: #ff0000;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 1px rgba(255, 0, 0, 0.225);
    margin-left: 10px;
}

.task-date-notification {
    font-size: 1rem;
    color: #ff0000;
    margin-left: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
.modal-dialog {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 12px;
    width: 60%;
}
  
.modal-close {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 10;
    padding: 0;
    border: 0;
    border-radius: 4px;
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    float: right;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.modal-close:hover, .modal-close:focus {
    background-color: rgba(255, 0, 0, 0.693);
    text-decoration: none;
    cursor: pointer;
    transform: translateY(-3px);
}

.field {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
    padding: 0.5rem 1rem;
}

.new-task-title, .new-task-description {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 12px;
    border: solid rgb(189, 189, 189) 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.new-task-title:focus, .new-task-description:focus {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.new-task-priority, .new-task-status, .new-task-date {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    width: 100%;
    padding: 7px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 12px;
    border: solid rgb(189, 189, 189) 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    width: fit-content;
}

.add-button {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    height: 35px;
    width: 100px;
    padding: 0;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 12px;
    border: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.add-button:hover {
    background-color: rgb(0, 42, 255);
    border: 0;
    color: #fefefe;
    cursor: pointer;
    transform: translateY(-3px);
}
